namespace: todo-app

frontend:
  image:
    repository: ghcr.io/sydiahl/todo-frontend
    tag: "df984171" # frontend-tag
  replicaCount: 1
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 128Mi

backend:
  image:
    repository: ghcr.io/sydiahl/todo-backend
    tag: "df984171" # backend-tag
  replicaCount: 1
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 256Mi
  env:
    DB_HOST: postgres-service
    DB_PORT: "5432"
    DB_NAME: tododb
    DB_USER: todouser
    PORT: "3001"

postgres:
  image: postgres:15-alpine
  storage: 2Gi
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

ingress:
  host: sydiahl-todo.duckdns.org
  tlsSecret: todo-tls
